In [16]:
"""from google.colab import drive
drive.mount('/content/drive')"""

"from google.colab import drive\ndrive.mount('/content/drive')"

In [17]:
import pandas as pd
pd.set_option("display.max_rows", None)
import unicodedata
import gzip
import json

In [18]:
with gzip.open("./escp_shared_hackathon_dataset.json", "rt", encoding="utf-8") as f:
    data = json.load(f)

df = pd.DataFrame(data)

In [19]:
#!pip install deep-translator

In [20]:
df['brand_name'].nunique()

16965

In [21]:
import pandas as pd
import re
import unicodedata
from deep_translator import GoogleTranslator

# Function to clean brand names
def clean_brand_name(name):
    """
    Cleans brand names by:
    - Converting to lowercase
    - Removing accents
    - Removing special characters, dashes, and extra spaces
    - Keeping only alphanumeric characters
    """
    if pd.isna(name):  # Handle NaN values
        return None
    name = name.lower().strip()  # Convert to lowercase and strip spaces
    name = unicodedata.normalize('NFKD', name).encode('ASCII', 'ignore').decode('utf-8')  # Remove accents
    name = re.sub(r'[-"\'\.]', '', name)  # Remove dashes, quotes, apostrophes, and dots
    name = re.sub(r'[^a-zA-Z0-9\s]', ' ', name)  # Remove all special characters except spaces
    name = re.sub(r'\s+', ' ', name).strip()  # Normalize spaces
    return name

# Test the function
print(clean_brand_name("A.P.C"))  # Output: "apc"
print(clean_brand_name("L'Oréal"))  # Output: "loreal"
print(clean_brand_name("Chanel "))  # Output: "chanel"
print(clean_brand_name("Dolce&Gabbana"))  # Output: "dolcegabbana"

# Initialize the translator for Korean to English translation
translator = GoogleTranslator(source="ko", target="en")

# Ensure required columns exist before translation
if {'brand_name', 'language_code'}.issubset(df.columns):
    # Extract unique brand names in Korean
    ko_brands = df.loc[df['language_code'] == 'ko', 'brand_name'].dropna().unique()

    # Translate brand names from Korean to English
    translated_brands = {brand: translator.translate(brand) for brand in ko_brands}

    # Apply translation to the DataFrame
    df['translated_brand_name'] = df['brand_name'].map(translated_brands)

    print("Translated brand names added to DataFrame.")
else:
    print("Warning: Required columns for translation not found in DataFrame.")

# Ensure cleaning is applied to both original and translated brand names
if 'brand_name' in df.columns:
    df['clean_brand_name'] = df['brand_name'].apply(clean_brand_name)

if 'translated_brand_name' in df.columns:
    df['clean_translated_brand_name'] = df['translated_brand_name'].apply(clean_brand_name)

# Display the number of unique cleaned brand names
if 'clean_brand_name' in df.columns:
    print(f"Number of unique clean brand names: {df['clean_brand_name'].nunique()}")

if 'clean_translated_brand_name' in df.columns:
    print(f"Number of unique clean translated brand names: {df['clean_translated_brand_name'].nunique()}")

apc
loreal
chanel
dolce gabbana
Translated brand names added to DataFrame.
Number of unique clean brand names: 15578
Number of unique clean translated brand names: 199

In [22]:
import pandas as pd

# Read the file
with open("taxonomy-with-ids.en-US.txt", encoding="utf-8") as file:
    taxonomy_lines = file.readlines()  # Read all lines

# Process taxonomy to extract IDs and categories
taxonomy_data = []
for line in taxonomy_lines:
    parts = line.strip().split(" - ")  # Format: "ID - Category > Subcategory"
    if len(parts) == 2:
        category_id = int(parts[0])  # Convert Google Category ID to integer
        category_path = parts[1].split(" > ")  # Split into hierarchical categories
        taxonomy_data.append([category_id] + category_path)

# Convert to DataFrame
taxonomy_df = pd.DataFrame(taxonomy_data)

# Rename columns dynamically based on hierarchy depth
column_names = ["google_category_id"] + [f"category_level_{i}" for i in range(1, len(taxonomy_df.columns))]
taxonomy_df.columns = column_names

# Convert category ID to numeric
taxonomy_df["google_category_id"] = pd.to_numeric(taxonomy_df["google_category_id"], errors="coerce")

# Display first few rows
print(taxonomy_df.head(10))

# Save the file (Optional)
taxonomy_df.to_csv("google_taxonomy.csv", index=False)

   google_category_id        category_level_1 category_level_2  \
0                   1  Animals & Pet Supplies             None
1                3237  Animals & Pet Supplies     Live Animals
2                   2  Animals & Pet Supplies     Pet Supplies
3                   3  Animals & Pet Supplies     Pet Supplies
4                7385  Animals & Pet Supplies     Pet Supplies
5              499954  Animals & Pet Supplies     Pet Supplies
6                7386  Animals & Pet Supplies     Pet Supplies
7                4989  Animals & Pet Supplies     Pet Supplies
8                4990  Animals & Pet Supplies     Pet Supplies
9                7398  Animals & Pet Supplies     Pet Supplies

  category_level_3        category_level_4               category_level_5  \
0             None                    None                           None
1             None                    None                           None
2             None                    None                           None
3    Bird Supplies                    None                           None
4    Bird Supplies   Bird Cage Accessories                           None
5    Bird Supplies   Bird Cage Accessories           Bird Cage Bird Baths
6    Bird Supplies   Bird Cage Accessories  Bird Cage Food & Water Dishes
7    Bird Supplies     Bird Cages & Stands                           None
8    Bird Supplies               Bird Food                           None
9    Bird Supplies  Bird Gyms & Playstands                           None

  category_level_6 category_level_7
0             None             None
1             None             None
2             None             None
3             None             None
4             None             None
5             None             None
6             None             None
7             None             None
8             None             None
9             None             None

In [23]:

df = df.merge(taxonomy_df, on="google_category_id", how="left")

# Show the first few rows after merging
print(df.head())

   row_id brand_name language_code  google_category_id  row_weight  \
0       0       None            en                 691    0.505044
1       1       None            ja                 325    0.632272
2       2       None            nl                 176    0.492944
3       3       None            pt                1033    0.582456
4       4       100%            de              499845    0.355131

  translated_brand_name clean_brand_name clean_translated_brand_name  \
0                   NaN             None                        None
1                   NaN             None                        None
2                   NaN             None                        None
3                   NaN             None                        None
4                   NaN              100                        None

        category_level_1      category_level_2            category_level_3  \
0          Home & Garden         Lawn & Garden                   Gardening
1            Electronics             Computers           Desktop Computers
2  Apparel & Accessories  Clothing Accessories                    Neckties
3         Sporting Goods    Outdoor Recreation          Hunting & Shooting
4         Sporting Goods    Outdoor Recreation  Winter Sports & Activities

        category_level_4 category_level_5 category_level_6 category_level_7
0        Disease Control             None             None             None
1                   None             None             None             None
2                   None             None             None             None
3                Archery             None             None             None
4  Skiing & Snowboarding             None             None             None

In [24]:
# Replace 'None' values with 'No subcategory' in all category columns
category_columns = [col for col in df.columns if col.startswith("category_level_")]
df[category_columns] = df[category_columns].replace('None', 'No subcategory')

# Keep all columns but only include category_level_1 from category levels
df_simplified = df.drop(columns=category_columns).join(df[['category_level_1']])

print(df_simplified.head(100))

    row_id                brand_name language_code  google_category_id  \
0        0                      None            en                 691
1        1                      None            ja                 325
2        2                      None            nl                 176
3        3                      None            pt                1033
4        4                      100%            de              499845
5        5                    Adidas            en                3442
6        6                  Aihogard            en                3809
7        7                  Avantree            en                 264
8        8                    BESDER            en                 390
9        9             Bloomingville            de                4026
10      10  Cliffs by White Mountain            en                 187
11      11                Corneliani            en                5183
12      12                       DGK            en                 212
13      13                      None            es              499991
14      14                      None            fr                3642
15      15                       DJI            en              499998
16      16                    Dakine            de                 106
17      17                    Darrow            pt                 567
18      18              Estee Lauder            en                 479
19      19              Estée Lauder            de                 479
20      20                      Fila            en                 103
21      21                  Gigabyte            en                 325
22      22               Greatlizard            en                 264
23      23                     HOZLY            en                5077
24      24                Kate Kasin            en                1581
25      25                    LEEPEE            en                3318
26      26                  LeapFrog            en                7198
27      27                    Lixada            en                1016
28      28                  MEREDITH            en                1037
29      29                    Makita            de                 694
30      30                    Makita            en                2481
31      31                 Malcayang            en                3318
32      32                Muscleguys            en                 204
33      33                   Mustang            en                 187
34      34                    PERRIN            en                2820
35      35                Pepe Jeans            en                5250
36      36                    Purdey            en                 204
37      37                    SENSKY            en              505826
38      38                Sand & Sky            en                 567
39      39                    Sofirn            en                1019
40      40               The Kooples            en                5598
41      41                       UNO            es                1246
42      42                 YouTheFan            en                2363
43      43           alexanderwang.t            en                 204
44      44                 baellerry            en                3032
45      45                     ecoco            en                 586
46      46                miqiaikids            en                2271
47      47                  syiwidii            en                 204
48      48                      None            de                2649
49      49                      None            de                3658
50      50                      None            en                2418
51      51                      None            en                6454
52      52                      None            fr                4360
53      53                      None            ja                5079
54      54                      None            ko                2675
55      55                      None            ko                3684
56      56                      None            ko                5702
57      57                    AENSOA            en                 200
58      58                 ALLOYSEED            en                3214
59      59                    AUTOOL            en                8234
60      60                     AVENT            es                 564
61      61             BCBGeneration            en                5598
62      62                  Baccarat            en                  11
63      63          Blue Microphones            en                 234
64      64                  Bonpoint            en                5250
65      65        Brunello Cucinelli            en                 212
66      66                     Cream            en                2271
67      67                   Dickies            en                 207
68      68                    Disney            en                 634
69      69                Dynoracing            en                3618
70      70                    ETOPOO            en                1191
71      71                     Eaton            en                6375
72      72                   GLOMEVE            en                 567
73      73                     Gaudi            en                 204
74      74                    Gibson            en                 675
75      75                 Goldbergh            en                 177
76      76                     Grace            en                 212
77      77                      HUGO            en                 207
78      78                    IZTOSS            en                 264
79      79             Joseph Joseph            en                 575
80      80                    Laneus            en                 212
81      81               Logo Brands            en                1985
82      82                       MSI            en                 295
83      83             Maison Scotch            en                 204
84      84         Manhattan Comfort            en                1395
85      85               Marc Jacobs            en                 479
86      86           Marques'Almeida            en                2271
87      87                    Mugler            en                 207
88      88                   Pantene            es                2441
89      89                 Peppa Pig            en                 212
90      90              Philip Stein            en                 201
91      91                    Police            en                 479
92      92                    Prince            en                 212
93      93                    RIDGID            en                1632
94      94                      Ring            en                 264
95      95           Royal Worcester            en                 674
96      96                    SCCJGL            en                2895
97      97                SIKAI CASE            en                1928
98      98                  Safavieh            en                 457
99      99                    Salton            en                 679

    row_weight translated_brand_name          clean_brand_name  \
0     0.505044                   NaN                      None
1     0.632272                   NaN                      None
2     0.492944                   NaN                      None
3     0.582456                   NaN                      None
4     0.355131                   NaN                       100
5     0.308764                   NaN                    adidas
6     0.416310                   NaN                  aihogard
7     0.338888                   NaN                  avantree
8     0.312173                   NaN                    besder
9     0.367357                   NaN             bloomingville
10    0.511937                   NaN  cliffs by white mountain
11    0.466045                   NaN                corneliani
12    0.387144                   NaN                       dgk
13    0.365732                   NaN                      None
14    0.533912                   NaN                      None
15    0.364711                   NaN                       dji
16    0.324342                   NaN                    dakine
17    0.431144                   NaN                    darrow
18    0.489245                   NaN              estee lauder
19    0.383770                   NaN              estee lauder
20    0.317414                   NaN                      fila
21    0.301963                   NaN                  gigabyte
22    0.461832                   NaN               greatlizard
23    0.406657                   NaN                     hozly
24    0.370473                   NaN                kate kasin
25    0.434300                   NaN                    leepee
26    0.483877                   NaN                  leapfrog
27    0.437868                   NaN                    lixada
28    0.265463                   NaN                  meredith
29    0.382341                   NaN                    makita
30    0.279688                   NaN                    makita
31    0.549390                   NaN                 malcayang
32    0.326335                   NaN                muscleguys
33    0.503267                   NaN                   mustang
34    0.417319                   NaN                    perrin
35    0.348206                   NaN                pepe jeans
36    0.324109                   NaN                    purdey
37    0.293276                   NaN                    sensky
38    0.347528                   NaN                  sand sky
39    0.324516                   NaN                    sofirn
40    0.518530                   NaN               the kooples
41    0.416569                   NaN                       uno
42    0.363923                   NaN                 youthefan
43    0.355406                   NaN            alexanderwangt
44    0.411132                   NaN                 baellerry
45    0.284434                   NaN                     ecoco
46    0.269612                   NaN                miqiaikids
47    0.370361                   NaN                  syiwidii
48    0.332260                   NaN                      None
49    0.365732                   NaN                      None
50    0.569239                   NaN                      None
51    0.521893                   NaN                      None
52    0.489646                   NaN                      None
53    0.585029                   NaN                      None
54    0.624249                   NaN                      None
55    0.639065                   NaN                      None
56    0.713995                   NaN                      None
57    0.268516                   NaN                    aensoa
58    0.440630                   NaN                 alloyseed
59    0.268144                   NaN                    autool
60    0.365609                   NaN                     avent
61    0.425941                   NaN             bcbgeneration
62    0.419963                   NaN                  baccarat
63    0.372508                   NaN          blue microphones
64    0.299595                   NaN                  bonpoint
65    0.633657                   NaN        brunello cucinelli
66    0.460304                   NaN                     cream
67    0.511788                   NaN                   dickies
68    0.286643                   NaN                    disney
69    0.265463                   NaN                dynoracing
70    0.469217                   NaN                    etopoo
71    0.400277                   NaN                     eaton
72    0.281417                   NaN                   glomeve
73    0.384209                   NaN                     gaudi
74    0.301499                   NaN                    gibson
75    0.244295                   NaN                 goldbergh
76    0.438870                   NaN                     grace
77    0.439670                   NaN                      hugo
78    0.304133                   NaN                    iztoss
79    0.255185                   NaN             joseph joseph
80    0.481076                   NaN                    laneus
81    0.483128                   NaN               logo brands
82    0.444632                   NaN                       msi
83    0.476335                   NaN             maison scotch
84    0.316874                   NaN         manhattan comfort
85    0.514744                   NaN               marc jacobs
86    0.345208                   NaN            marquesalmeida
87    0.333813                   NaN                    mugler
88    0.394781                   NaN                   pantene
89    0.323521                   NaN                 peppa pig
90    0.387554                   NaN              philip stein
91    0.474078                   NaN                    police
92    0.436048                   NaN                    prince
93    0.472612                   NaN                    ridgid
94    0.387002                   NaN                      ring
95    0.441847                   NaN           royal worcester
96    0.362784                   NaN                    sccjgl
97    0.307626                   NaN                sikai case
98    0.421307                   NaN                  safavieh
99    0.299107                   NaN                    salton

   clean_translated_brand_name           category_level_1
0                         None              Home & Garden
1                         None                Electronics
2                         None      Apparel & Accessories
3                         None             Sporting Goods
4                         None             Sporting Goods
5                         None             Sporting Goods
6                         None              Home & Garden
7                         None                Electronics
8                         None                Electronics
9                         None              Home & Garden
10                        None      Apparel & Accessories
11                        None      Apparel & Accessories
12                        None      Apparel & Accessories
13                        None  Food, Beverages & Tobacco
14                        None             Sporting Goods
15                        None           Cameras & Optics
16                        None             Luggage & Bags
17                        None            Health & Beauty
18                        None            Health & Beauty
19                        None            Health & Beauty
20                        None             Luggage & Bags
21                        None                Electronics
22                        None                Electronics
23                        None                   Hardware
24                        None      Apparel & Accessories
25                        None           Vehicles & Parts
26                        None             Baby & Toddler
27                        None             Sporting Goods
28                        None             Sporting Goods
29                        None              Home & Garden
30                        None                   Hardware
31                        None           Vehicles & Parts
32                        None      Apparel & Accessories
33                        None      Apparel & Accessories
34                        None           Vehicles & Parts
35                        None      Apparel & Accessories
36                        None      Apparel & Accessories
37                        None              Home & Garden
38                        None            Health & Beauty
39                        None             Sporting Goods
40                        None      Apparel & Accessories
41                        None               Toys & Games
42                        None              Home & Garden
43                        None      Apparel & Accessories
44                        None      Apparel & Accessories
45                        None              Home & Garden
46                        None      Apparel & Accessories
47                        None      Apparel & Accessories
48                        None              Home & Garden
49                        None             Sporting Goods
50                        None              Home & Garden
51                        None           Vehicles & Parts
52                        None              Home & Garden
53                        None     Animals & Pet Supplies
54                        None              Home & Garden
55                        None              Home & Garden
56                        None            Health & Beauty
57                        None      Apparel & Accessories
58                        None             Sporting Goods
59                        None           Vehicles & Parts
60                        None             Baby & Toddler
61                        None      Apparel & Accessories
62                        None              Home & Garden
63                        None                Electronics
64                        None      Apparel & Accessories
65                        None      Apparel & Accessories
66                        None      Apparel & Accessories
67                        None      Apparel & Accessories
68                        None              Home & Garden
69                        None             Sporting Goods
70                        None                   Hardware
71                        None                   Hardware
72                        None            Health & Beauty
73                        None      Apparel & Accessories
74                        None              Home & Garden
75                        None      Apparel & Accessories
76                        None      Apparel & Accessories
77                        None      Apparel & Accessories
78                        None                Electronics
79                        None              Home & Garden
80                        None      Apparel & Accessories
81                        None              Home & Garden
82                        None                Electronics
83                        None      Apparel & Accessories
84                        None                  Furniture
85                        None            Health & Beauty
86                        None      Apparel & Accessories
87                        None      Apparel & Accessories
88                        None            Health & Beauty
89                        None      Apparel & Accessories
90                        None      Apparel & Accessories
91                        None            Health & Beauty
92                        None      Apparel & Accessories
93                        None                   Hardware
94                        None                Electronics
95                        None              Home & Garden
96                        None           Vehicles & Parts
97                        None                Electronics
98                        None                  Furniture
99                        None              Home & Garden

In [25]:
import pandas as pd
import re
import unicodedata
from deep_translator import GoogleTranslator



# Step 1: Merge translated brand names into clean_brand_name if available
if 'clean_translated_brand_name' in df.columns:
    df["clean_brand_name"] = df["clean_brand_name"].fillna(df["clean_translated_brand_name"])

# Drop both 'translated_brand_name' and 'clean_translated_brand_name' after merging
df = df.drop(columns=["translated_brand_name", "clean_translated_brand_name"], errors='ignore')


# Display the first few rows where language_code is "ko" (Korean) for verification
df_ko = df[df["language_code"] == "ko"]


# Step 2: Initial Cleanup - Preserve Non-Latin Brand Names Before -1 Replacement
def clean_brand(value):
    if pd.isna(value) or str(value).strip() == "" or str(value).strip().lower() in {"none", "undefined", "unbranded", "empty"}:
        return -1  # Replace only true empty/unbranded values in clean_brand_name
    return value  # Keep valid brand names

# Apply initial cleanup function to clean_brand_name only
df['clean_brand_name'] = df['clean_brand_name'].apply(lambda x: -1 if pd.isna(x) or x in [None, "", "none", "undefined", "unbranded", "empty"] else x)
print(df.head())
# Save the final cleaned dataset
output_path = "./df_fully_cleaned.csv"
df.to_csv(output_path, index=False)

print(f"✅ Final cleaned file saved at: {output_path}")

df.to_csv("df_cleaned.csv", index=False)

   row_id brand_name language_code  google_category_id  row_weight  \
0       0       None            en                 691    0.505044
1       1       None            ja                 325    0.632272
2       2       None            nl                 176    0.492944
3       3       None            pt                1033    0.582456
4       4       100%            de              499845    0.355131

  clean_brand_name       category_level_1      category_level_2  \
0               -1          Home & Garden         Lawn & Garden
1               -1            Electronics             Computers
2               -1  Apparel & Accessories  Clothing Accessories
3               -1         Sporting Goods    Outdoor Recreation
4              100         Sporting Goods    Outdoor Recreation

             category_level_3       category_level_4 category_level_5  \
0                   Gardening        Disease Control             None
1           Desktop Computers                   None             None
2                    Neckties                   None             None
3          Hunting & Shooting                Archery             None
4  Winter Sports & Activities  Skiing & Snowboarding             None

  category_level_6 category_level_7
0             None             None
1             None             None
2             None             None
3             None             None
4             None             None
✅ Final cleaned file saved at: ./df_fully_cleaned.csv